/* Enable 3D flip behavior */

@import 'tailwindcss';
.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
input {
  border: 2px solid black;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  position: relative;
  display: inline-block;
}

.value {
  border: 1px solid #333;
  padding: 5px 10px;
  width: 100px;
  cursor: pointer;
  background-color: #f8f8f8;
}

.list {
  position: absolute;
  background: white;
  border: 1px solid #aaa;
  width: 100%;
  max-height: 120px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  padding: 5px;
  cursor: pointer;
}

.list li:hover {
  background-color: #eee;
}

.user_view_list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
